<h1>Images - Upload</h1>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrfToken" value="{{ session.data.csrfToken }}" />
    <input type="file" name="file" />
    <button>Upload</button>
</form>
