{{#extend "stylesheets" }}
    <link rel='stylesheet' href='/static/stylesheets/app/compiled/imageSelectTool.css' />
{{/extend}}

<h1>View image</h1>
<p><a href="/images" >All images</a></p>
<div id="select-tool-container" />

{{#extend "scripts"}}
    <script>
     var image = {{{ json image }}};
    </script>
    <script src="/static/javascripts/app/compiled/imageSelectTool.js"></script>
{{/extend}}
