<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ol>
  <li><a href="/select-tool">Select tool</a></li>
  <li><a href="/image-gallery">Image gallery</a></li>
  <li><a href="/table">Table</a></li>
</ol>
