<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/static/stylesheets/style.css' />
    </head>
    <body>
        <form action="/logout" method="post">
            <input type="hidden" name="csrfToken" value="{{ session.data.csrfToken }}" />
            <button>Logout</button>
        </form>
        {{#if session.data.flashMessages}}
            <div>
                {{#each session.data.flashMessages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        {{{body}}}
    </body>
</html>
