<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/static/stylesheets/style.css' />
    </head>
    <body>
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
        {{{body}}}
    </body>
</html>
