<h1>Login</h1>
<form method="post">
    <label>Username</label>
    <input name="username" autofocus />
    <label>Password</label>
    <input type="password" name="password" />
    <button>Login</button>
</form>
