body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.ImageGalleryToolbar {
    min-height: 3em;
}

.ImageGalleryItem-Border {
    display: inline-block;
    border: 2px solid transparent;
}

.ImageGalleryItem-Border_highlighted {
    border: 2px solid red;
}
