<%- include('/header') -%>

<form method="post">
  <p>Are you sure you want to delete <%= contact.name %>?</p>
  <button>Delete</button>
  <a href="/contacts">Cancel</a>
</form>

<%- include ('/footer') -%>
