<h1>Users - Create new</h1>
<form method="post">
    <label>Username</label>
    <input name="username" autofocus />
    <label>Password</label>
    <input type="password" name="password" />
    <label>Repeat password</label>
    <input type="password" name="password-repeat" />
    <button>Create</button>
</form>
