<h1>Users</h1>
{{#if usernames}}
    <ol>
        {{#each usernames}}
            <li>{{this}} <a href="javascript:void(0)" onclick="deleteUser('{{this}}');">Delete</a></li>
        {{/each}}
    </ol>
{{else}}
    <p>No users.</p>
{{/if}}
<p>
    <a href="/users/create">Create new user</a>
</p>

<script>
 function deleteUser(username) {
   const proceed = confirm(`Delete user ${username}?`);
   if (proceed) {
     var request = new XMLHttpRequest();
     request.open('POST', '/api/users/remove', true);
     request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
     request.onreadystatechange = function() {
       if (this.readyState === XMLHttpRequest.DONE) {
         if (this.status === 200) {
           window.location.reload(true);
         } else {
           alert('Something went wrong.');
         }
       }
     }
     request.send(JSON.stringify({ username }));
   }
 }
</script>
