<!-- -*- engine: django -*- -->

{% extends 'core/layout.html' %}

{% block content %}

  <h1>All images</h1>

  <p>
    {% if images.has_previous %}
      <span>
        <a href="?page={{ images.previous_page_number }}">Previous</a>
      </span>
    {% endif %}

    <span>Page {{ images.number }}</span>

    {% if images.has_next %}
      <span>
        <a href="?page={{ images.next_page_number }}">Next</a>
      </span>
    {% endif %}
  </p>

  <p>Items {{ images.start_index }} - {{ images.end_index }} of {{ images.paginator.count }}</p>

  {% for image in images %}
    <img src="{{ image.original.url }}"
         width="300px"
         height="300px"
         style="object-fit: contain;" />
  {% endfor %}

  <p>
    <a href="{% url 'core:image_upload_form' %}">Upload</a>
    <a href="{% url 'core:index' %}">Home</a>
  </p>

{% endblock %}
